@using racer.Shared
@page "/details"
<link href="css/details.css" rel="stylesheet" />

<div class="page-content">

  <section class="responsive-table">
    <h2>Race Participants</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Country</th>
          <th scope="col">Name</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
      @foreach (var member in Participants)
      {
          <TeamDataRow Participant="@member" />
      }
      </tbody>
    </table>

    <div class="table-cards">
     @foreach (var member in Participants)
      {
          <TeamDataCard Participant="@member" />
      }
    </div>

  </section>


 <div class="accordion" id="highlight-accordion">
    <div class="card">
        <div class="card-header" id="highlight-heading">
            <h5 class="mb-0">
                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    <i class="fas fa-film fa-3x"></i><span>Highlights</span>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="highlight-heading" data-parent="#highlight-accordion">
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <caption>List of Highlights</caption>
                    <tbody>
                        <tr>
                            <td class="table-thumb"><img src="images/thumbnail.jpg" alt="Thumbnail for video of 'Last KM of Stage 21 (04:14)'"></td>
                            <td><a href="https://www.youtube.com/watch?v=N-ZO2ILecoE">Last KM of Stage 21 (04:14)</a></td>
                        </tr>
                        <tr>
                            <td class="table-thumb"><img src="images/thumbnail.jpg" alt="Thumbnail for video of 'Backstage Pass - Stage 21'"></td>
                            <td><a href="https://www.youtube.com/watch?v=N-ZO2ILecoE">Backstage Pass - Stage 21</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>




@functions {
    ParticipantView[] Participants;

    protected override async Task OnInitAsync()
    {
       Participants = Enumerable.Range(1, 5).Select(p => new ParticipantView
       {
           Country = "GBR",
           Name = "YATES, Simon",
           Time = "82:05:58",
           Position = p
       }).ToArray();
    }
}
